
<%= @customer.nickname %>
<%= @customer.gender %>
<%= @customer.tall %>
<%= @customer.introduction %>
<% if @customer == current_customer %>
  <%= link_to "編集", edit_customer_path(@customer.id) %>
<% end %>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">コーディネート一覧</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">質問一覧</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="item3-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="false">いいね</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
    <% @outfits.each do |outfit| %>
      <div>
        <%= image_tag outfit.image, size: "250x200" %>
          <p>タイトル：<%= outfit.title %></p>
          <p>説明：<%= outfit.caption %></p>
          <%= link_to "詳細", outfit_path(outfit.id) %>
       </div>
     <% end %>
    </div>
  <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
    <% @questions.each do |question| %>
      <div>
        <%= image_tag question.image, size: "250x200" %>
        <p>タイトル：<%= question.title %></p>
        <p>説明：<%= question.caption %></p>
      </div>
      <%= link_to "詳細",question_path(question.id) %>
    <% end %>
  </div>
  <div class="tab-pane fade" id="item3" role="tabpanel" aria-labelledby="item3-tab">
    <p>いいねした投稿一覧</p>
    <% @favorite_outfits.each do |outfit| %>
    <%= image_tag outfit.image, size: "250x200" %>
    <%= outfit.title %>
    <%= outfit.caption %>
    <%= link_to "詳細", outfit_path(outfit.id) %>
    <% end %>
  </div>
</div>
