<%= @customer.nickname %>
<%= @customer.gender %>
<%= @customer.tall %>
<%= @customer.introduction %>
<%= link_to "編集", edit_customer_path(@customer.id) %>

<% @outfits.each do |outfit| %>
<div>
  <%= image_tag outfit.image, size: "250x200" %>
  <p>タイトル：<%= outfit.title %></p>
  <p>説明：<%= outfit.caption %></p>
  <%= link_to "詳細", outfit_path(outfit.id) %>
</div>
<% end %>