<div class="container">
  <div class="row">
    <h3 class="col-md-3 mt-5 offset-md-2">Log in</h3>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="foem-grop">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <div class="foem-grop">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="foem-grop">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="foem-grop">
          <%= f.submit "Log in" %>
       </div>
      <% end %>
<%= render "admin/shared/links" %>
    </div>
  </div>
</div>