<div class="container px5 px-sm">
  <div class="row">
    <div class="col-md-9 mt-5">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>質問タイトル</th>
            <th>質問詳細</th>
            <th>返信数</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @questions.each do |question| %>
            <tr>
              <td>
                <%= truncate(question.title, :length => 20) %>
              </td>
              <td>
                <%= link_to "詳細",question_path(question.id), class: "btn btn-primary" %>
              </td>
              <td>
                <%= link_to question_path(question.id), class: "btn btn-outline-secondary" do %>
                  <i class="fa-regular fa-comment-dots"></i><%= question.answers.count %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-2 mt-5">
      <p>ユーザー</p>
      <% @customers.each do |customer| %>
        <div crass="row">
          <div class="mt-3">
            <%= link_to customer_path(customer.id) do %>
              <% if customer.profile_image.persisted? %>
                <%= image_tag customer.profile_image, size: "30x30", class:" rounded-circle" %>
                <%= customer.nickname %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= link_to "もっと見る", customers_path, class:"mt-3 btn btn-outline-secondary" %>
    </div>
  </div>
</div>
