<div class="container px-5 px-sm-0">
  <%= form_with url: search_outfits_path, local: true, method: :get do |form| %>
    <%= form.text_field :keyword, placeholder: "キーワードで検索" %>
    <%= form.submit "検索" %>
  <% end %>
  <div class="row">
    <div class="col-md-9 mt-5">
      <div class="row">
      <% @outfits.each do |outfit| %>
      <div class="pr-4 pb-5">
        <div class="card">
          <% if outfit.image.persisted? %>
            <%= link_to outfit_path(outfit.id) do %>
              <%= image_tag outfit.image, size: "260x400" %>
            <% end %>
          <% end %>
          <div class="card-body">
            <% if outfit.customer.profile_image.persisted? %>
              <%= image_tag outfit.customer.profile_image, size: "35x35", class:" rounded-circle" %>
            <% end %>
            <span><%= outfit.customer.nickname %> ｜ </span>
            <span><%= link_to "#{outfit.comments.count} コメント", outfit_path(outfit.id), class:"text-dark" %></span>
          </div>
        </div>
       </div>
       <% end %>
       <%= paginate @outfits %>
       </div>
    </div>
    <div class="col-md-2 mt-5">
      <p>ユーザー</p>
      <% @customers.each do |customer| %>
        <div crass="row">
          <div class="mt-3">
          <%= link_to customer_path(customer.id) do %>
            <% if customer.profile_image.persisted? %>
              <%= image_tag customer.profile_image, size: "30x30", class:" rounded-circle" %>
              <%= customer.nickname %>
            <% end %>
          <% end %>
          </div>
        </div>
      <% end %>
      <%= link_to "もっと見る", customers_path, class:"mt-3 btn btn-outline-secondary" %>
    </div>
  </div>
</div>