<!DOCTYPE html>
<html>
  <head>
    <title>Fashion</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if customer_signed_in? %>
      <li>
        <%= link_to "マイページ", customer_path(current_customer.id) %>
      </li>
      <li>
        <%= link_to "投稿一覧", outfits_path %>
      </li>
      <li>
        <%= link_to "質問一覧", questions_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "top", root_path %>
      </li>
      <li>
        <%=link_to "about",about_path %>
      </li>
      <li>
        <%= link_to "新規登録", new_customer_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_customer_session_path %>
      </li>
    <% end %>
  　</header>
    <%= yield %>
  </body>
</html>
